// Just a little bit of space to prettify the loading spinner and output.

.loader
  // Slightly hacky, this prevents the loading spinner from overlapping the
  // elements above it on the page.
  margin-top: 120px

.btn.download-all
  margin-bottom: 20px
